body {
  margin: 0;
  text-align: center;
  font-family: 'Vidaloka', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  text-shadow: 3px 3px 3px white;
  line-height: 0.5;
  color: #6F9693;
}

h2 {
  font-family: 'Amiri', serif;
  font-weight: bolder;
}

h3 {
  font-family: 'Amiri', serif;
}

p{
  line-height: 2;
}

.top-container {
  background-color: #CCF0ED;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  text-align: center;
}

.middle-container {
  background-color: #CCF0ED;
}

.bottom-container {
  background-color: #93CFCA;
  padding-top: 20px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 15px auto 15px auto;
  text-align: left;
  line-height: 1.3;
}

.blogimg {
  float: left;
  margin-right: 30px;
}

.codeimg {
  float: right;
  margin-left: 30px;
}

.graphicimg {
  float: left;
  margin-right: 30px;
}

.h22 {
  font-weight: bold;
  color: #6F9693
}

.balletimg {
  float: right;
  margin-left: 30px;
}

.guitarimg {
  float: left;
  margin-right: 30px;
}

.blogtext {
  clear: right;
}

.graphictext {
  clear: right;
}

.guitartext {
  clear: right;
}

.codetext {
  clear: left;
}

.ballettext {
  clear: left;
}



.contact-me {
  background-color: #93CFCA;
  padding-bottom: 25px;
  padding-top: 20px;
}

.btn {
  border: 3px solid #6F9693;
  padding: 5px;
  margin: 2px;
  color: #6F9693;
  font-size: 15px;
}

.footer-link {
  margin-top: 5px
}

.contact-row {
  width: 50%;
  margin: 25px auto 25px auto;
  text-align: left;
  line-height: 1.3;
}

.instaimg, .sappimg {
  float: left;
  margin-right: 30px;
  width: 5%;
  height: 5%;
}

.moonimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h11 {
  margin-top: 0;
  font-weight: bolder;
}

hr {
  border-color: #CCF0ED;
  border-style: dotted none none;
  height: 0;
  border-width: 7px;
  width: 5%;
}

.nav-item {
  padding: 0 10px;
}

.navbar-brand {
  font-weight:bold;
  letter-spacing: 0.05em;
}


/* moreaboutme */

.top{
  background-color: #CCF0ED;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
